@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050202;
  color: white;
  overflow-x: hidden;
}

body {
  margin: 0;
  cursor: none; /* Hide default cursor for custom implementation */
}

/* Mobile override for cursor */
@media (max-width: 768px) {
  body {
    cursor: auto;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f0505;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff2a2a, #ff7b00);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffcc00;
}

/* Selection Color */
::selection {
  background: #ff7b00;
  color: black;
}
